.flex-container{
    display: flex;
    height: 150px;
    background-color: antiquewhite;
}
.flex-container > div{
    font-size: 30px;
    width: 40px;
    height: 40px;
}
.d1{
    background-color:green ;
}
.d2{
    background-color:blue ;
}
.d3{
    background-color:red ;
}

.flex-container2 > div{
    font-size: 30px;
    width: 40px;
    height: 40px;
    margin: 5px;
}
.flex-container2{
    display:  flex;
    flex-direction: column;
    height: 150px;
    background-color: antiquewhite;
}