.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "side-bar1 content content side-bar2"
    "footer footer footer footer";
  padding: 5px;
  height: 500px;
  gap: 1rem;
}
.grid-item {
  border-radius: 25px;
  text-align: center;
}
.grid-header {
  grid-area: header;
  background-color: red;
}

.grid-side-bar1 {
  grid-area: side-bar1;
  background-color: blue;
}
.grid-content {
  grid-area: content;
  background-color: green;
}
.grid-side-bar2 {
  grid-area: side-bar2;
  background-color: purple;
}
.grid-footer {
  grid-area: footer;
  background-color: yellow;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 500px) {
  .grid-container {
    display: grid;
    grid-template-areas:
      "header"
      "side-bar1"
      "content"
      "content"
      "side-bar2"
      "footer";
    padding: 5px;
    gap: 1rem;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 501px) and (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-areas:
      "header header header header"
      "side-bar1 content content content"
      "side-bar2 side-bar2 side-bar2 side-bar2"
      "footer footer footer footer";
    padding: 5px;
    gap: 1rem;
  }
}
