*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 450px;
    background-color: black;
}

p{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 17vw ;
    height: 18vh;
    border: 5px solid red;
    z-index: 2;
}
p::before{
    content: "cool box";
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw ;
    height: 10vh;
    background-color: black;
    z-index: 3;
}
p::after{
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw ;
    height: 25vh;
    background-color: black;
    z-index: 1;   
}
