body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.decorative-border {
  width: 100px;
  height: 20px;
  padding: 5px;
  border-radius: 5px solid;
  background-color: blue;
  box-shadow: 2px 2px;
}
.decorative-border::before {
  content: "";
  position: absolute;
  box-shadow: inset 5px 5px 10px 209xpx rgba(115, 102, 92, 0.5);
}
