.flex {
  display: flex;
}

.relative {
  position: relative;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.justify-content {
  justify-content: center;
}

.align-items {
  align-items: center;
}
.gap {
  gap: 1rem;
}
